@import url('https://fonts.cdnfonts.com/css/sansita-one');


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Sansita One', sans-serif !important;
  
  background-image: url('assets/background_vinyl.jpg');
  background-size: cover;
}

.marca{
  font-family: 'Segoe UI', sans-serif !important;
}

.cardlist{
  font-family: 'Segoe UI', sans-serif !important;
  font-size: 10px;
}





